<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-text" style="font-size:25px; color:white; padding-left: 345px">WELCOME</div>
        <div class="nav navbar-nav navbar-right navbar-text"><button  type="button" class="btn btn-default btn-primary" (click)="gotologin()">
            <span class="glyphicon glyphicon-log-in"></span> Log in
          </button></div>
    </div>
</nav> -->



<router-outlet></router-outlet>
<br><br>
<!-- <footer class="page-footer blue " style="position:fixed; background-color: black; width: 100%; left: 0; bottom: 0">
  <div class="footer-copyright text-center py-3" style="color: white">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> infosys.com</a>
  </div>

</footer> -->
