<div class="main-content" style="margin-top: -3%;">
    <div class="container-fluid">
      <div class="row col-md-6">
  
        <div class="card centerDivInternal">
          <div class="card-body">
            <form>
  
            
  
              <mat-form-field class="example-full-width">
                <input type="text" matInput name="pan26as" placeholder="Pan Number" required [(ngModel)]="pan26as">
              </mat-form-field>
  
              
  
              <button mat-raised-button type="submit" class="btn btn-warning btn-round" (click)="getdocument();">Submit</button>
              <!-- <div class="clearfix"></div> -->
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>