<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <!-- <div class="navbar-wrapper">
          <a class="navbar-brand font">BANK</a>
        </div>        -->
        <div class="collapse navbar-collapse justify-content-end" id="navigation">            
            <ul class="navbar-nav">                
                <li class="nav-item">
                    <button (click)="log_out()" class="btn btn-sm btn-danger btn-round">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


