<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  
  
</head>
<!-- <style>
  .buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
}

/* Add a right margin to each icon */
.fa {
    margin-left: -12px;
    margin-right: 8px;
}
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style> -->
    
<body>


    <header style="background-color: rgb(233, 233, 213);border-radius: 5px;margin-top:-20px;">
        <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-sm-4" style="margin-top: 20px ;padding: 15px;padding-bottom :1px">
                <img src="assets/itd_logo.jpg" alt="logo" style="width:100px;height:100%;">
    
            </div> 
            <div class="col-sm-4" >
                <h3 style="text-align:center;padding-top:10px;padding-bottom: -10px; margin-bottom:0px ;margin-top: 30px">E-Filing User</h3>
            </div>
            <div class="col-sm-4" style="text-align: right ;  ">
                
                    <button class="button btn-primary" style = "border-radius: 5px;width:30% ;margin-top: 70px " (click)="log_out()">LogOut</button>
            </div>
            
            
    
        </div> -->
      </div>  
    </header>
  <div class="row" style="background-color: rgb(233, 233, 213);border-radius: 5px;margin-top:-15px">
      <div class="col-sm-4" style="margin-top: 20px ;padding: 15px;padding-bottom :1px">
          <img src="assets/itd_logo.jpg" alt="logo" style="width:100px;height:100%;">

      </div>
      <div class="col-sm-4" >
          <h3 style="text-align:center;padding-top:10px;padding-bottom: -10px; margin-bottom:0px ;margin-top: 30px"><b>ITD</b></h3>
      </div>
      <div class="col-sm-4" style="text-align: right ;  ">
          
              <button class="button btn-primary" style = "border-radius: 5px;width:30% ;margin-top: 70px " (click)="log_out()">LogOut</button>
      </div>
      
      

    </div>
    <div class="form-group"  style="padding-left:20px;padding-right:20px;padding-top: 0px">
            
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="submit" class="btn btn-lg btn-primary " (click)="show_AS()">26 AS</button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-lg btn-primary "  (click)="show_RS()">15 G/H</button>
          </div>
          <div class="btn-group">
              <button type="submit"  class="btn btn-lg btn-primary ">Challans</button>
        </div>
          <div class="btn-group">
            <button type="submit"  class="btn btn-lg btn-primary ">197 Certificates</button>
          </div>
          <div class="btn-group">
              <button type="submit"  class="btn btn-lg btn-primary ">ITR</button>
            </div>
        </div>
  </div>




  


  
<div class="container">

    <!-- <div class="imguse">
    
      </div> -->
 
                     <!--*************** Create Rule and Search button  ***************-->
  
  <div class="row" style="padding-top:20px;text-align:center;border: collapse">

 

          <div class="form-group" *ngIf="GH_flag">
          
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <button type="submit" class="btn btn-lg btn-primary" (click)="show_Rule()">Create Rule</button>
                  </div>
                  <div class="btn-group">
                      <button type="submit"  class="btn btn-lg btn-primary " (click)="show_Query()">Query Rule</button>
                    </div>
                  <div class="btn-group">
                    <button type="submit"  class="btn btn-lg btn-primary "(click)="show_Search()">Search</button>
                  </div>
                  
                </div>
              
              </div>
          
          </div>

<div class="row" style="padding-top:20px;text-align:center;border: collapse">

 <!--*************** Create Hash and Search Hash 26AS ***************-->

  <div class="form-group" *ngIf="AS_flag">
  
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="submit" class="btn btn-lg btn-primary" (click)="create_Hash()">Download 26AS</button>
          </div>
          <div class="btn-group">
              <button type="submit"  class="btn btn-lg btn-primary " (click)="show_History()">Get History</button>
          </div>
          
        </div>
      
      </div>
      
      <div >

 
    
       
      
      </div>

 
  
  </div>

       <!--
  For 26 AS
  
-->
<br>
<br>
<br>
   <div *ngIf="temp" >
    <div class="row">

        <div class="col-sm-8 col-sm-offset-4">
    <!--        <table>
              <th><tr><td></td></tr></th>
              <tr>
                
                <td><span ><b><font size="4">PAN NUMBER</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span><input type="text" placeholder="XXXXXXXXXX" [(ngModel)]="pan_number_26AS"></td></tr>
              
              <th><tr><td></td></tr></th>
              <br><tr><td><button class="button btn-primary " style = "border-radius: 5px" (click)="getdocument();"><font size="4">Submit</font></button></td></tr>
            </table>-->
            <span ><b><font size="4">PAN NUMBER</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span><input type="text" placeholder="XXXXXXXXXX" [(ngModel)]="pan_number_26AS">  
            <br>
            <br>
            <br>
            
            <div class="row">
              <!--<div class="loader"></div>-->

              <div class="col-sm-1"></div>
              
              <div class="col-sm-4">
                    <button type="button" class="button btn-primary btn-md"   style = "border-radius: 5px;width:100%;" (click)="getdocument();"><font size="4"> Submit</font></button>
                    <div *ngIf="loader" class="loader"></div>
              </div>
              <!-- popup -->
              
               
  
          </div>
          </div>
        </div>
        </div>
       

        <div *ngIf="t1" >
            <div class="row">
        
                <div class="col-sm-8 col-sm-offset-4">
            <!--        <table>
                      <th><tr><td></td></tr></th>
                      <tr>
                        
                        <td><span ><b><font size="4">PAN NUMBER</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span><input type="text" placeholder="XXXXXXXXXX" [(ngModel)]="pan_number_26AS"></td></tr>
                      
                      <th><tr><td></td></tr></th>
                      <br><tr><td><button class="button btn-primary " style = "border-radius: 5px" (click)="getdocument();"><font size="4">Submit</font></button></td></tr>
                    </table>-->
                    <span ><b><font size="4">PAN NUMBER</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span><input type="text" placeholder="XXXXXXXXXX" [(ngModel)]="pan_number_26AS">  
                    <br>
                    <br>
                    <br>
                    
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-4">
                    <button class="button btn-primary btn-md" style = "border-radius: 5px;width:100%;"(click)="getdocumentHistory();query_26=true;"><font size="4">Submit</font></button>
                    <div *ngIf="loader1" class="loader"></div>
                  </div>
                  </div>

                  
                  </div>
                </div>
                </div>
                <br>
                <br>
                <div *ngIf="query_26" class ="wrapper"> 
                    <!-- class="table table-striped table-hover" -->
                    <table class="table table-striped table-hover"  style="background-color:rgb(160, 184, 187); border:2px; border-radius: 10px;">
                        
                        <tr>
                          <th>Transaction Id</th>
                          <th>Status</th>
                          <th>Hash of 26AS Document</th>
                          <th>Date</th>
                          
                        
                        </tr>
                        <tr *ngFor ="let element of txarray">
                          <td class="last" style="text-align: left;">{{element.TXID}} </td>
                          <td class="last" style="text-align: left;">{{element.STATUS}}</td>
                          <td class="last" style="text-align: left;">{{element.HASH}}</td>
                          <td class="last" style="text-align: left;">{{element.DATE}}</td>
                        </tr>    
                      </table>
                </div>

          <!--*************** Create Rule button  ***************-->

  <div *ngIf="CR_flag">
    
      <div class="row" style="padding-top:40px;text-align:center;padding-left:15%;" >
          <table class="table lalign">
              <th><tr><td></td></tr></th>               <th><tr><td></td></tr></th> 


            <tr>
                <th> <font size="4">TAX TYPE</font> </th>
                <td>
                <select required [(ngModel)] = "Tax_type">
                    <option selected disabled hidden >----Tax Type----</option>
                    <option value="INTEREST">Interest Income</option>
                    <option value="NET">Taxable Income</option>
                    <option value="DEDUCTION">Deduction</option>
                  </select> 
                </td>
              </tr>

            <tr>
                <th> <font size="4">GENDER</font> </th>
                <td>
                <select required [(ngModel)] ="Gender_type">
                    <option selected disabled hidden >----Gender----</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <!-- <option value="T">Transgender</option> -->
                  </select>
                  </td> 
                </tr>

            
            <tr>
                <th> <font size="4">YEAR</font> </th>
                <td> 
                  <input required [(ngModel)]="Year_type">
                </td>
              </tr>

              <tr>
                <th> <font size="4">SENIOR CITIZEN AGE >=</font> </th>
                <td> 
                  <input required [(ngModel)]="Age_senior">
                </td>
              </tr>

              <tr>
                <th> <font size="4">SUPER SENIOR CITIZEN AGE >=</font></th>
                <td> 
                  <input required [(ngModel)]="Age_supersenior">
                </td>
              </tr>

              <tr>
                  <th> <font size="4">TAX WAIVER LIMIT FOR GENERAL CITIZEN</font> </th>
                  <td> 
                    <input required [(ngModel)]="Amount_general">
                  </td>
                </tr>

              <tr>
                  <th> <font size="4">TAX WAIVER LIMIT FOR SENIOR CITIZEN</font> </th>
                  <td> 
                    <input required [(ngModel)]="Amount_senior">
                  </td>
                </tr>

               

                  <tr>
                      <th><font size="4">TAX WAIVER LIMIT FOR SUPER SENIOR CITIZEN </font> </th>
                      <td> 
                        <input required [(ngModel)]="Amount_supersenior">
                      </td>
                    </tr>

                   
            <tr><td>
                <div class="row">
                    <div class="col-sm-6">

                      </div>
                      <div class="col-sm-4">
                        <br>
                          <button class="button btn-primary btn-md" style = "border-radius: 5px;width:100%;" (click)="updateRules();"><font size="4">Submit</font></button>
                      </div>
                  </div>
                </td></tr>
          </table>
      </div>
     </div>



     <!--*************** Search button  ***************-->

     <div  *ngIf="S_flag">
              <div class="row">
                    <table class="table">
                      <th><tr><td></td></tr></th>
                      <tr>
                        
                        <td><span style="text-align:left;"><b><font size="4">DEDUCTEE PAN </font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span><input type="text" placeholder="XXXXXXXXXX" [(ngModel)]="pan_number"></td></tr>
                      <tr><td><span style="text-align:left;"><b><font size="4">ASSESSMENT YEAR </font> &nbsp;&nbsp;&nbsp;</b></span><input type="text" placeholder="Assessment year" [(ngModel)]="fy_year"></td></tr>
                      <th><tr><td></td></tr></th>
                      <br><tr><td><button class="button btn-primary btn-md" style = "border-radius: 5px;width:10%;" (click)="getHistory();getCumulative();show_2=true;"><font size="4">Retrieve</font></button></td></tr>
                    </table>
                </div>

                <div *ngIf="show_2" class="row" style="padding-top:40px;text-align:center">
                    <table class="table x2 table-striped table-hover" style="background-color:rgb(160, 184, 187); border:2px; border-radius: 10px;">
                      <tr>
                        <th>Deductee PAN</th>
                        <th>Assessment Year</th>
                        <th>Interest Income</th>
                        <th>Other Income</th>
                        <th>Deductions</th>
                        <th>Taxable Income</th>
                      
                      </tr>
                      <tr (click)="show_TransactionHistory()">
                        <td style="text-align: left;">{{pan_number}} </td>
                        <td style="text-align: left;">{{fy_year}}</td>

                           <!--*********************link to transaction history******************* -->

                        <td style="text-align: left;">{{cumulative_interest}}</td>
                        <td style="text-align: left;">{{cumulative_other}}</td>
                        <td style="text-align: left;">{{cumulative_deduction}}</td>
                        <td style="text-align: left;">{{cumulative_net}}</td>

                        
                      </tr>    
                    </table>
                  </div>

          </div>



                    <!--*************** Query Rule button  ***************-->

          <div *ngIf="QR_flag">

            <div class="row" id ="x" style="padding-left:10%;padding-right:25%;">
                  <table class="table">
                    <th><tr><td></td></tr></th> <th><tr><td></td></tr></th>

                    <tr style="text-align:center">
                        <th> </th>
                        <td>
                            <font size="3" style="font-weight:bold;"><font size="4">TAX TYPE </font>&nbsp; &nbsp; </font>
                            <select [(ngModel)] = "Tax_type_query">
                                <option selected disabled hidden>----Tax Type----</option>
                                <option value="INTEREST">Interest Income</option>
                                <option value="NET">Taxable Income</option>
                                <option value="DEDUCTION">Deductions</option>
                              </select> 
                        </td>
                      </tr>

                    <tr style="text-align:center;">
                        <th > </th>
                        <td>
                            <font size="4" style="font-weight:bold;">GENDER&nbsp; &nbsp; &nbsp;</font>

                        <select [(ngModel)] ="Gender_type_query">
                            <option [selected]="true" disabled hidden>----Gender----</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <!-- <option value="T">Transgender</option> -->
                          </select>
                          </td> 
                        </tr>

                    
                    <tr style="text-align:center;">
                        <th></th>
                        <td> 
                            <font size="4" style="font-weight:bold;">YEAR&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font>
                          <input [(ngModel)]="Year_type_query">
                        </td>
                      </tr>
                    <tr style="text-align:center;"><td>
                        <div class="row">
                            <div class="col-sm-6">
      
                              </div>
                              <div class="col-sm-5" style = "text-align:center;left:120%;">
                                <br>
                                  <button class="button btn-primary btn-md" style = "border-radius: 5px;width:200%;" (click)="getRules();show_1=true;"><font size="4">Query</font></button>
                              </div>
                          </div>
                        </td></tr>
                  </table>
              </div>

                    <div *ngIf="show_1" class="row" style="padding-top:40px;text-align:center">
                      <table class="table x2 table-striped table-hover" style="background-color:rgb(160, 184, 187); border:2px; border-radius: 10px;">
                        <tr >
                            <th>Year</th>
                          <th>Tax Type</th>
                          <th>Gender</th>
                          <th>Tax Waiver Limit(General)</th>
                          <th>Age(Senior)</th>
                          <th>Tax Waiver Limit(Senior)</th>
                          <th>Age(Super Senior)</th>
                          <th>Tax Waiver Limit(Super Senior)</th>
                          </tr>
                          <tr *ngFor="let x of arr">
                              <td>
                                  {{x.RULE_YEAR}}
                                  </td>
                              <td>
                                  {{x.RULE_INCOME}}
                                </td>
                            <td>
                              {{x.GENDER}}
                            </td>
                            <td>
                              {{x.AMOUNT_GENERAL}}
                            </td>
                            <td>
                                {{x.AGE_SENIOR}}
                              </td>
                            <td>
                              {{x.AMOUNT_SENIOR}}
                            </td>
                            <td>
                                {{x.AGE_SUPER_SENIOR}}
                              </td>
                            <td>
                              {{x.AMOUNT_SUPER_SENIOR}}
                            </td>
                            
                            
                            
                            </tr>
                        <tr></tr>    
                      </table>
                    </div>

          </div>



          <!--*********************** for Transaction Histrory*********************************** -->
          <div class="row" style="padding-top:40px;text-align:center" *ngIf="T_flag">

              <table class="table table-striped table-hover" style="background-color:rgb(160, 184, 187); border:2px; border-radius: 10px;">
                <tr>
                  <th>Deductor TAN</th>
                  <th>Valid</th>
                  <th>Timestamp</th>
                  <th>Interest Income</th>
                  <th>Other Income</th>
                  <th>Deductions</th>
                  <th>Taxable Income</th>
                </tr>
                <tr *ngFor="let element of lt">
                  <!-- <td style="text-align: left;">{{element[1].Value[0].PAN_NUMBER}}</td> -->
                  <td style="text-align: left;">{{element[0]}}</td>
                  <!-- <td style="text-align: left;">{{element[1].Value[0].YEAR}}</td> -->
                  <td style="text-align: left;">{{element[1].Value[0].VALID}}</td>
                  <td style="text-align: left;">{{element[1].Timestamp}}</td>
                  <td style="text-align: left;">{{element[1].Value[0].INTEREST_AMOUNT}}</td>
                  <td style="text-align: left;">{{element[1].Value[0].OTHER_AMOUNT}}</td>
                  <td style="text-align: left;">{{element[1].Value[0].DEDUCTION_AMOUNT}}</td>
                  <td style="text-align: left;"></td>
                </tr>   
                
                <tr style = "background-color:#337AB7">
                    <td colspan="2"><font color="white">Cumulative Income </font></td>
                    <td></td>
                    <td style="text-align: left;"> <font color="white">{{cumulative_interest}} </font></td>
                    <td style="text-align: left;"><font color="white">{{cumulative_other}}</font></td>
                    <td style="text-align: left;"><font color="white">{{cumulative_deduction}} </font></td>
                    <td style="text-align: left;"><font color="white">{{cumulative_net}}</font></td>

                </tr>

              </table>
            </div>



</div>

</body>


<footer class="page-footer blue " style="position:fixed; background-color: black; width: 100%; left: 0; bottom: 0">
    <div class="footer-copyright text-center py-3" style="color: white">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Infosys.com</a>
    </div>
  
  </footer>

  
</html>